{% extends "basic-page.html.twig" %}

{% block summary %}
	{{ homepage.summary }}
{% endblock %}

{% block content %}
<h2>Please enter a search term in the search box (upper right corner)</h2>
{% endblock %}